body {
    background: linear-gradient(202.17deg, #E6FFB0 2.87%, #FFFFFF 85.52%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: degular-text;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    max-width: 1100px;
    display: flex;
    margin:40px 60px;
}

#img-div {
    width: 40%;
}

#image {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img-caption {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
}

#tribute-info {
    width: 60%;
    margin-left: 60px;
    margin-right: 20px
}

.info h2 {
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 12px;
    letter-spacing: 0.065em;
}

.info h1 {
    font-family: Gooper;
    font-size: 72px;
    font-weight: 700;
    color: #ED4ECA;
    margin-top: 0px;
    margin-bottom: 30px;
}

.info p {
    line-height: 1.5;
}

.button-wrap {
    text-align: center;
}

a {
    font-family: Gooper;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    color: #ED4ECA;
    padding: 15px 40px 17px;
    border: solid 3px #ED4ECA;
    border-radius: 10px;
    transition: all 0.3s ease;
    display: inline-block;
    margin-top: 14px;
}

a:hover {
    background-color: #ED4ECA;
    color: #fff;
}

@media (max-width: 800px) {
    a {
        padding: 15px 20px 17px;
    }
}

@media (max-width: 730px) {
    body {
        height: auto;
        font-size: 14px;
    }

    #main {
        flex-direction: column;
        margin: 40px 30px 50px;
    }

    #img-div {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #img-caption {
        font-size: 12px;
        margin-top: 5px;
    }

    .info h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .info h1 {
        font-size: 56px;
        margin-bottom: 18px;
    }

    #tribute-info {
        width: 100%;
        margin: auto;
    }

    a {
        font-size: 16px;
        border: solid 2.5px #ED4ECA;
        padding: 10px 30px 12px;
    }
}